.footerContainer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 80px;
    
    padding: 0 15px;
    background-color: var(--azulClaro);
    color: var(--preto);
    font-size: 1.5rem;
}

.menuFooter{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: var(--texto);
    border: 5px solid red;
}

.menuFooter li{
    list-style: none;
    margin: 15px;
}

.icons {
    display: flex;
    /* width: 25px;
    height: 25px; */
}

.icons img{
    width: 100%;

}