* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

:root {
  --titulo: "Righteous", cursive;
  --texto: "Poppins", sans-serif;
  --azulEscuro: #186297;
  --azulClaro: #6DBCF5;
  --amareloClaro: #f1f8a4;
  --amareloEscuro: #F5E050;
  --preto: #4d4945;
}

.App {
  display: grid;
  grid-auto-rows: 1fr 8fr 1fr;
}