.bannerContainer{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 5px solid red;
}

.imgBanner{
    width: 40%;
    
}

.imgBanner img{
    width: 80%;
}

.textoBanner{
    font-family: var(--texto);
    text-align: right;
    font-size: 2.5rem;
    width: 60%;
}